div {
    background:url('/images/dab.gif') repeat;
    height: 500px;
  }
  
  span {
    width: 400px;
    height: 400px;
    display: block;
    background:url('/images/dab.gif') repeat-x left;
  }